/* Styling just for the homepage */

/* Image header with links and latest post */

header {
	padding-bottom: 100vh; /* So image can be seen */
	background-attachment: fixed;
}

header :is(aside, address, section), section {
        width: min(calc(100% - 80px), 640px);
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px;

        text-align: center;

        border: 0;
        border-radius: 0 0 0 40px;

        background-color: var(--bg-translucent);

        color: var(--fg-main);
}

/* Other posts */

section:not(header section):nth-of-type(odd) {
        border-bottom: 3px solid var(--accent-1);
        border-left: 3px solid var(--accent-1);
}
section:not(header section):nth-of-type(even) {
        border-bottom: 3px solid var(--accent-2);
        border-left: 3px solid var(--accent-2);
}
section h2 {
        margin-top: 0;
}

/* Button links in the header */
header address ul {
        margin: 0;
        padding: 0;
}
header address a {
        text-decoration: none;
        color: inherit;
}
header address ul li {
        margin: 0;
        padding: 0;
        marker: none;

        display: block;
        width: calc(100% - 40px);
        margin: 10px;
        padding: 10px;
        border-radius: 0;

        font-size: 30px;
        font-weight: bold;
        font-style: normal;

        background-color: var(--bg-dimmed);
        color: var(--accent-1);
}
header address ul li:hover {
        background-color: var(--bg-main);
        outline: 3px solid var(--accent-2);
        color: var(--accent-2);
}


